<template>
  <qrcode-stream
    :torch="user.infected"
    id="stream"
    :key="_uid"
    :track="paintBoundingBox"
    @init="logErrors"
  />

  <svg class="scope" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
    <g v-bind:color="target.valid ? 'red' : 'rgba(255,255,255,0.5)'">
      <circle fill="currentColor" cx="5" cy="5" r="5" />
    </g>
  </svg>

  <div v-if="user.admin" class="admin">
    <select v-model="selectedCommand">
      <option v-for="command in commands" :key="command.id" :value="command.id">
        {{ command.name }}
      </option>
    </select>
    <button @click="adminCommand(selectedCommand)">Exécuter</button>
  </div>

  <p class="username">
    {{ user.name }} ({{ user.qrcode }})
    <strong v-if="user.infected">Infecté!</strong>
  </p>

  <ul class="stats">
    <li>{{ user.kill }} Kills</li>
    <li>{{ user.death }} Morts</li>
    <li>{{ settings.mode }}</li>
  </ul>

  <svg
    class="target"
    @click="shoot(target, user.id)"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g v-bind:color="target.valid ? 'red' : 'rgba(255,255,255,0.2)'">
      <circle fill="currentColor" cx="5" cy="5" r="5" />
      <circle stroke="white" fill="none" cx="5" cy="5" r="3" stroke-width="1" />
      <circle stroke="none" fill="white" cx="5" cy="5" r="1" stroke-width="1" />
    </g>
  </svg>
  <input class="zoom" type="range" min="0" max="9" step="1" />
  <div class="death-screen" v-if="dead">
    <div>
      <h2>Vous êtes mort</h2>
      <h2>{{ deathTimeRemain }}</h2>
    </div>
  </div>
</template>

<script lang="ts">
import { QrcodeStream } from "vue-qrcode-reader";

import User from "../interfaces/User";
import { defineComponent } from "vue";

import { useStore } from "vuex";
import { key } from "../store/index";

import { getDatabase, ref, onValue } from "firebase/database";

export default defineComponent({
  components: { QrcodeStream },

  data() {
    return {
      // Données du scanneur après calculs
      target: {
        x: 0,
        y: 0,
        distance: 0,
        time: 0,
        valid: false,
        user: {
          qrcode: 0,
          area: "",
        },
      },
      // Utilisateur courant
      user: {
        id: "id",
        name: "username",
        qrcode: 0,
        kill: 0,
        death: 0,
        deathTime: 0,
        admin: false,
      } as User,
      // Liste des utilisateurs de la partie
      users: [] as User[],
      // Temps restant après mort
      deathTimeRemain: 0,
      // Commandes de l'administrateur, les id correspondent aux actions du store
      commands: [
        {
          id: "deleteAll",
          name: "TOUT SUPPRIMER!",
        },
        {
          id: "infectedMode",
          name: "Mode infecté",
        },
        {
          id: "ffaMode",
          name: "Mode FFA",
        },
        {
          id: "reinitUsers",
          name: "Réinitialiser les joueurs",
        },
      ],
    };
  },

  setup() {
    const store = useStore(key);
    const settings = {
      deathDuration: 10,
      mode: "FFA",
    };
    const dead = false;
    // const user: User = store.state.user;

    const userId: string = store.state.user.id;

    /**
     * Simule un tir 🔫
     * @param target les données renvoyés par le scanneur, non typé pour le moment
     * @param currentUserId L'identifiant du joueur actuel
     */
    const shoot = async (target: any, currentUserId: string) => {
      if (dead) return;

      navigator.vibrate(100);
      console.log("Start shoot!");
      if (target.valid) {
        const currentUser: User = await store.dispatch("getUser", {
          id: currentUserId,
        });

        if (settings.mode == "Infected" && !currentUser.infected) return;

        await store.dispatch("updateUser", currentUser);

        let targetUser: User = await store.dispatch("getUserByQrCode", {
          qrCode: target.user.qrcode,
        });

        if (typeof targetUser != "undefined") {
          if (targetUser.deathTime) {
            const duration = Date.now() - targetUser.deathTime;
            if (duration < settings.deathDuration) {
              // On ne tue pas un joueur mort quand même!
              return;
            }
          }
          navigator.vibrate(300);
          if (settings.mode == "FFA") {
            currentUser.kill += 1;
            targetUser.death += 1;
            targetUser.deathTime = Date.now();
          } else if (settings.mode == "Infected") {
            targetUser.infected = true;
          }

          await store.dispatch("updateUser", targetUser);
          await store.dispatch("updateUser", currentUser);
          console.log("Shooted!");
        }
      }
    };

    /**
     * Exécute une commande administrateur
     * @param name nom de l'action associée dans le store
     */
    const adminCommand = async (name: string) => {
      navigator.vibrate(100);
      await store.dispatch(name);
    };

    return {
      userId,
      shoot,
      settings,
      dead,
      adminCommand,
    };
  },

  created() {
    const longDelay = 2000;
    const shortDelay = 100;

    // Boucle de persistance du scanneur
    // Ex: laisser 500ms de validité après un scan
    setInterval(() => {
      if (this.target.valid) {
        const differenceTime = Date.now() - this.target.time;
        this.target.valid = differenceTime > longDelay;
      }
    }, longDelay);

    // Boucle de calcul de temps restant avant résurection
    setInterval(() => {
      if (this.dead) {
        this.deathTimeRemain =
          this.settings.deathDuration -
          Math.round((Date.now() - this.target.time) / 1000);
        this.dead = this.deathTimeRemain > 0;
      }
    }, shortDelay);

    // Synchronisation des joueurs
    if (this.userId) {
      const db = getDatabase();
      const userRef = ref(db, "users/" + this.userId);
      onValue(userRef, (snapshot) => {
        if (snapshot.exists()) {
          const newUser: User = snapshot.val();
          if (this.user.deathTime !== newUser.deathTime) {
            navigator.vibrate(1000);
            this.dead = true;
          }
          this.user = newUser;
          console.log("debug", this.user);
        }
        console.log({
          user: this.user,
          snapshot,
        });
      });

      // Synchronisation des paramètres de la partie
      const settingsRef = ref(db, "settings");
      onValue(settingsRef, (snapshot) => {
        if (snapshot.exists()) {
          this.settings = snapshot.val();
        }
        console.log({ settings: this.settings });
      });
    }

    // Initialisation du zoom
    navigator.mediaDevices
      .getUserMedia({
        video: { facingMode: { ideal: "environment" } },
      })
      .then((mediaStream) => {
        const video = document.querySelector("video");
        if (video) {
          video.srcObject = mediaStream;
        }

        const [track]: any = mediaStream.getVideoTracks();
        const capabilities: any = track.getCapabilities();
        const settings: any = track.getSettings();

        const input: any = document.querySelector('input[type="range"]');

        // Check whether zoom is supported or not.
        if (!("zoom" in settings)) {
          return Promise.reject("Zoom is not supported by " + track.label);
        }

        // Map zoom to a slider element.
        if (input) {
          input.min = capabilities.zoom.min;
          input.max = capabilities.zoom.max;
          input.step = capabilities.zoom.step;
          input.value = settings.zoom;
          input.oninput = function (event: any) {
            track.applyConstraints({
              advanced: [{ zoom: event.target.value }],
            });
          };
          input.hidden = false;
        }
      })
      .catch((error) => console.log("Argh!", error.name || error));
  },

  methods: {
    /**
     * Affiche et calcule les qrcodes détectés
     * @param detectedCodes liste des qrcodes détectés
     * @param ctx contexte du canvas d'overlay
     */
    paintBoundingBox(detectedCodes: any[], ctx: any) {
      let minimumDistance = Infinity;
      let nearestTarget;
      // Affichage des qrcodes
      for (const detectedCode of detectedCodes) {
        const {
          boundingBox: { x, y, width, height },
        } = detectedCode;

        ctx.lineWidth = 2;
        ctx.strokeStyle = "red";
        ctx.strokeRect(x, y, width, height);

        ctx.fillStyle = "red";

        detectedCode.x = x + width / 2;
        detectedCode.y = y + height / 2;
        detectedCode.width = width;
        detectedCode.height = height;

        ctx.fillRect(detectedCode.x, detectedCode.y, 10, 10);

        const distance = Math.sqrt(
          (x + width / 2 - window.innerWidth / 2) ** 2 +
            (y + height / 2 - window.innerHeight / 2) ** 2
        );

        if (distance < minimumDistance) {
          nearestTarget = detectedCode;
          minimumDistance = distance;
        }
      }

      // Calcul des valeurs utiles comme la distance par rapport au centre
      // On enregiste les infos du Qr Code le plus centré
      this.target.x = nearestTarget.x + nearestTarget.width / 2;
      this.target.y = nearestTarget.y + nearestTarget.height / 2;
      this.target.time = Date.now();
      this.target.distance = minimumDistance;

      this.target.valid = minimumDistance < nearestTarget.width / 2;

      this.target.user.area = nearestTarget.rawValue[0];
      this.target.user.qrcode = nearestTarget.rawValue.slice(1);
    },

    /**
     * Affiche les erreurs d'initialisation du scanneur de qrcode
     * @param promise Promesse de l'erreur
     */
    logErrors(promise: any) {
      promise.catch(console.error);
    },
  },
});
</script>

<style>
.admin {
  width: 100%;
  position: absolute;
  top: 10%;
  background: none;
  opacity: 0.5;
  text-align: center;
}
.admin select {
  margin: 10px;
}

.death-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(transparent, rgba(150, 50, 50, 0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.death-screen h2 {
  font-size: 50px;
}

body {
  margin: 0;
  overflow: hidden;
}

#stream {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.qrcode-stream-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

.target {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin: -50px;
}

.zoom {
  width: 50%;
  position: absolute;
  bottom: 0%;
  background: none;
  opacity: 0.5;
  left: 25%;
}

.scope {
  width: 10px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px;
}

.stats {
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  text-align: right;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  list-style: none;
  margin: 20px;
  padding: 5px;
  width: 100px;
}

.username {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 200px;
  margin: 20px;
  padding: 5px;
}

input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #a11c1c;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #ff3838;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #a11c1c;
}
input[type="range"]::-moz-range-track {
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #a11c1c;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #ff3838;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  height: 13px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #a11c1c;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #a11c1c;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #ff3838;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #a11c1c;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #a11c1c;
}
</style>