<template>
  <header>
    <h3>Targame</h3>
    <nav>
      <ul>
        <li>
          <a @click="login()">Se connecter</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="main-section">
    <article>
      <h2>Un laser game à portée de main</h2>
      <p>
        Aujourd'hui, si vous voulez faire une partie de 20 minutes de laser game
        c'est <strong>10€</strong> (Soit un café la minute).
      </p>
      <p>
        En plus, il fait tout noir et la musique vous explose les oreilles et
        c'est vraiment pas cool.
      </p>
      <p>
        C'est par cette injustice profonde que j'ai créé
        <strong>Targame</strong>
      </p>
    </article>

    <article>
      <h2>Quel est ce projet super méga génial?</h2>
      <p>
        A l'aide d'un smartphone et équipé de deux sacs à dos (avant/arrière) où
        un QR Code est collé sur chaque, on peut simuler un laser game.
      </p>
      <p>Fou non? Et bien croyez-le ou non, aujourd'hui c'est possible!</p>
      <p>
        Le système est simple, l'application affichera votre caméra arrière avec
        un viseur et un bouton pour tirer.
      </p>
      <p>
        Un traceur s'affichera si un QR Code est détecté. Et s'il est
        suffisament centré, vous pouvez toucher l'adversaire.
      </p>
    </article>

    <article>
      <h2>Quels modes de jeux?</h2>
      <p>Les modes prévus sont les suivants:</p>
      <ul>
        <li>
          FFA (avec ou sans équipe): L'objectif est de toucher le plus de fois
          les adversaire.
        </li>
        <li>
          Infecté: La partie commence avec un infecté, son objectif est de
          contaminer tout le monde (par les tirs).
        </li>
        <li>
          Capture de drapeau: Par équipe, il faut tenter de ramener le drapeau
          adverse dans son camp sans si faire toucher.
        </li>
      </ul>
    </article>
  </section>
  <footer>
    <nav>
      <ul>
        <li>
          <a href="https://gitlab.com/landry_gd/ar-fps">Code source</a>
        </li>
      </ul>
    </nav>
  </footer>
</template>

<script>
import { useRouter } from "vue-router";

export default {
  name: "Home",
  setup() {
    const router = useRouter();

    const login = () => {
      router.push("/login");
    };
    return {
      login,
    };
  },
};
</script>

<style scoped >
header {
  background: darkred;
  padding: 20px;
  border-radius: 0px 0px 40px 40px;
}

footer {
  background: darkred;
  padding: 20px;
}

header h3 {
  color: white;
  margin: 0;
}

.main-section {
  margin-top: 50vh;
  border-radius: 20px 20px 0 0;
  align-items: unset;
  text-align: justify;
}
header {
  display: flex;
  justify-content: space-between;
}
</style>