<template>
  <div class="center">
    <section class="login-panel">
      <header>
        <img class="logo" src="./../assets/logo.png" alt="logo" />
        <h1>Se connecter</h1>
      </header>

      <label for="qrcode">Numéro de QRCode</label>
      <input
        type="number"
        name="qrcode"
        id="qrcode"
        placeholder="12"
        v-model="user.qrcode"
      />

      <label for="username">Ton nom</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Jean Dupond"
        v-model="user.name"
      />

      <button @click="login(user)">Rejoindre</button>
    </section>
  </div>
</template>

<script lang='ts'>
import { useRouter } from "vue-router";

import User from "../interfaces/User";

import { defineComponent } from "vue";

import { useStore } from "vuex";
import { key } from "../store/index";

export default defineComponent({
  name: "Login",

  setup() {
    const store = useStore(key);
    const router = useRouter();

    const login = async (user: User) => {
      store.state.user = user;
      // Bon, c'est temporaire 😅
      if (user.name === "admin") {
        user.admin = true;
      }
      await store.dispatch("login", user);
      router.push("/game");
    };

    return {
      login,
    };
  },

  data() {
    return {
      // Valeurs par défaut de l'utilisateur
      user: {
        id: "",
        name: "",
        qrcode: 0,
        kill: 0,
        death: 0,
      } as User,
    };
  },
});
</script>


<style scoped>
.center {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-panel {
  min-width: 300px;
}
</style>