<template>
  <router-view />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({})
export default class App extends Vue {}
</script>

<style>
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  height: 100vh;
  margin: 0;
  background-image: url("./assets/background.webp");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  background-attachment: fixed;
}

section {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 75%; */
}

input {
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: lightgrey;
  color: black;
  padding: 10px;
}

p {
  color: #333;
}

.error {
  color: darkred;
}

.logo {
  width: 32px;
  margin-right: 10px;
}

header {
  display: flex;
  align-items: center;
}

button {
  margin-top: 20px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

button:hover {
  background-color: red;
}

h1 {
  margin: 0;
  text-align: center;
  color: darkred;
}

label {
  margin-top: 10px;
}
</style>
